<article style="
		text-align: justify;
		border: 1px solid;
		padding: 10px;

		align-content: center;
		margin: 35px 50px 0 50px;
	">
    <p>
        Hello
        <b>{{user}}</b> we are glab to inform you that your request has been accepted, you are now owner of an admin account on Coding4Life.
    </p>
    <p>
        As an admin, you will have the ability to create and edit your own posts, other than that you have access to the comments of your post, you will be responsible for creating your own posts.
    </p>
    <p>
        Its an honor to have you as an admin, we are glad that you have this passion of talking and writing about code.
    </p>
    <p>
        Pleasse if you have any questions, we are always glad to help you, use this email address to send your question and feedback to us.
    </p>

    <p>
        <br /> Best regards,
        <b>Super Admin</b>
    </p>
</article>